<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_com_springsource_roo_fitnesswebsite_domain_DailyEvaluation" object="${dailyevaluation}" path="/dailyevaluations" z="bkR3/ndubZSYJQxupSGcNc1Q4Is=">
        <field:display field="whichDay" id="s_com_springsource_roo_fitnesswebsite_domain_DailyEvaluation_WhichDay" object="${dailyevaluation}" z="HWezYJ60w+oanNZzSwaSAztxgs4="/>
        <field:display field="goal" id="s_com_springsource_roo_fitnesswebsite_domain_DailyEvaluation_Goal" object="${dailyevaluation}" z="U2jXJi107Y5Bpg/tpaHCcsYIhsQ="/>
        <field:display field="caloryConsumed" id="s_com_springsource_roo_fitnesswebsite_domain_DailyEvaluation_CaloryConsumed" object="${dailyevaluation}" z="78aEIb53abt9PqxPaglqGbcGerE="/>
        <field:display field="caloryAbsorbed" id="s_com_springsource_roo_fitnesswebsite_domain_DailyEvaluation_CaloryAbsorbed" object="${dailyevaluation}" z="l4WeUjZbvJKrv7mrelq29rSDUDs="/>
        <field:display field="sittingTime" id="s_com_springsource_roo_fitnesswebsite_domain_DailyEvaluation_SittingTime" object="${dailyevaluation}" z="khUb9h6YWW6+pFbescBheLhANmo="/>
        <field:display field="regularDiet" id="s_com_springsource_roo_fitnesswebsite_domain_DailyEvaluation_RegularDiet" object="${dailyevaluation}" z="oyFBwTzyRNzwypY4xACiQvdLUsQ="/>
        <field:display field="healthScore" id="s_com_springsource_roo_fitnesswebsite_domain_DailyEvaluation_HealthScore" object="${dailyevaluation}" z="Ry0xKVDYVYtoq1KT32BvnXLl8uk="/>
        <field:display field="selfMonitoring" id="s_com_springsource_roo_fitnesswebsite_domain_DailyEvaluation_SelfMonitoring" object="${dailyevaluation}" z="V4t1SbjmTtwS2THRd+PD4OThsJE="/>
    </page:show>
</div>
