<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_com_springsource_roo_fitnesswebsite_domain_DailyEvaluation" modelAttribute="dailyEvaluation" path="/dailyevaluations" versionField="Version" z="YKm83yj1mVa6+ujmLuen8piZlOQ=">
        <field:select field="WhichDay" id="c_com_springsource_roo_fitnesswebsite_domain_DailyEvaluation_WhichDay" itemValue="id" items="${arrangementofplans}" path="/arrangementofplans" z="lUtdMCMeP5tvRmLiVxVyhJzob7c="/>
        <field:input field="Goal" id="c_com_springsource_roo_fitnesswebsite_domain_DailyEvaluation_Goal" validationMessageCode="field_invalid_number" z="ENxRbVOeaFImbzCf0v5ear+Qp9E="/>
        <field:input field="CaloryConsumed" id="c_com_springsource_roo_fitnesswebsite_domain_DailyEvaluation_CaloryConsumed" validationMessageCode="field_invalid_number" z="DexnvV7hfXXYEHE+bwlZzFf2yP0="/>
        <field:input field="CaloryAbsorbed" id="c_com_springsource_roo_fitnesswebsite_domain_DailyEvaluation_CaloryAbsorbed" validationMessageCode="field_invalid_number" z="DBLuQ5+FVWE7RPJ6uekCxz25fgs="/>
        <field:input field="SittingTime" id="c_com_springsource_roo_fitnesswebsite_domain_DailyEvaluation_SittingTime" validationMessageCode="field_invalid_number" z="Jc71SL2pAvspnVMncEJ6+OtASOA="/>
        <field:checkbox field="RegularDiet" id="c_com_springsource_roo_fitnesswebsite_domain_DailyEvaluation_RegularDiet" z="Y7Iq77bP4yIlGyjHXqYLHMkbPDc="/>
        <field:input field="HealthScore" id="c_com_springsource_roo_fitnesswebsite_domain_DailyEvaluation_HealthScore" validationMessageCode="field_invalid_number" z="eZuMhN51/RaleqECNsjC5Ooe2kM="/>
        <field:checkbox field="SelfMonitoring" id="c_com_springsource_roo_fitnesswebsite_domain_DailyEvaluation_SelfMonitoring" z="jvmcO/3r7iRt7h38zMx7LqVifP4="/>
    </form:update>
</div>
