<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:menu="urn:jsptagdir:/WEB-INF/tags/menu" id="menu" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<menu:menu id="_menu" z="nZaf43BjUg1iM0v70HJVEsXDopc=">

		<menu:category id="c_fitnessplanner" z="oAsIG/q1AQK195cprNhfpcS7DmE=">
			<menu:item id="i_fitnessplanner_new" messageCode="global_menu_new"
				url="/fitnessplanners?form" z="MSjp21zxdoYg+CH066TesAG5KEo=" />
			<menu:item id="i_fitnessplanner_list" messageCode="global_menu_list"
				url="/fitnessplanners?page=1&amp;size=${empty param.size ? 10 : param.size}"
				z="5kOXuLF4csp+qUfdKAt2KhSVtWk=" />
		</menu:category>
		<menu:category id="c_arrangementofplan"
			z="pIb8eii1bQxntr7HMN9cmz7rLjI=">
			<menu:item id="i_arrangementofplan_new" messageCode="global_menu_new"
				url="/arrangementofplans?form" z="UyHh9JrJqImy9HCBdUH7O7TRcvg=" />
			<menu:item id="i_arrangementofplan_list"
				messageCode="global_menu_list"
				url="/arrangementofplans?page=1&amp;size=${empty param.size ? 10 : param.size}"
				z="S+yEvc7hXkX3p2kDiX+4xj9WNdw=" />
		</menu:category>
		<menu:category id="c_dailyevaluation" z="Kg1yy8JJGSmKHdcW0+nxzy0fJLU=">
			<menu:item id="i_dailyevaluation_new" messageCode="global_menu_new"
				url="/dailyevaluations?form" z="A5p+QpvKHuUWWTwjdXDeBfI+qjU=" />
			<menu:item id="i_dailyevaluation_list" messageCode="global_menu_list"
				url="/dailyevaluations?page=1&amp;size=${empty param.size ? 10 : param.size}"
				z="EUqtMh7cuvIzkb8EwwxRG0MdcqQ=" />
		</menu:category>
	</menu:menu>
</div>
