<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_springsource_roo_fitnesswebsite_domain_ArrangementOfPlan" modelAttribute="arrangementOfPlan" path="/arrangementofplans" render="${empty dependencies}" z="Z21x1K+srbys/L2+KOc/N1SlbUk="> 
        <field:select field="planner" id="c_com_springsource_roo_fitnesswebsite_domain_ArrangementOfPlan_planner" itemValue="id" items="${fitnessplanners}" path="/fitnessplanners" z="s8/ISx9GdXfkqM2nEQzJ+tVvlgI="/>
        <field:datetime dateTimePattern="${arrangementOfPlan_schedule_date_format}" field="schedule" id="c_com_springsource_roo_fitnesswebsite_domain_ArrangementOfPlan_schedule" z="BExx281epkieAVYv4jXikheivEw="/>
         <field:input field="feedBack" id="c_com_springsource_roo_fitnesswebsite_domain_ArrangementOfPlan_feedBack" min="2" required="true" z="IqUikWdURppD87scIXEHfjD2H+4="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_springsource_roo_fitnesswebsite_domain_ArrangementOfPlan" render="${not empty dependencies}" z="VBt7l2Wr4uFm6TyscAyFJN6IFB4="/>
</div>
